@import "tailwindcss";

.navbar {
  background-image: url("/src/assets/gif/download.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-container {
  animation: slideInFromLeft 0.8s ease-out forwards;
}
